.background {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    transition: all 2s;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

